server:
  port: 8080
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/resources
    username: root
    password: 12345678
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: create   # ???: create / update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
jwt:
  secret:
    key: hjksdfhgklfadshgfdsd45fdsgfsdgsfdghdfgshsgf66adfgfadg8sdg4df22fasdgdas